{% extends 'base.html' %}
{% load static %}

{% block title %}
Cart Items | TradeNpl
{% endblock title %}

{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="Cart Items | TradeNpl">
<meta name="description" content="View items in your cart">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="Cart Items | TradeNpl">
<meta property="og:description" content="View items in your cart">
<meta property="og:image" content="https://tradenpl.com/media/banners/Presentatijm____on1_1.png">
{% endblock meta %}

{% block content %}
<div class="container my-5">
    <br>
    <br>
    <h3 class="my-2">Your Cart {% if cart|length is 0 %}is empty{% endif %} </h3>

    <br>
</div>
<br>

<div class="container">
    <div class="row">
        {% if cart|length > 0 %}

        <form action="{% url 'cart:cart_handle' %}" method="POST">
            {% csrf_token %}
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="bct-product-remove">Remove</th>
                            <th class="bct-product-thumbnail">Image</th>
                            <th class="cart-product-name">Product</th>
                            <th class="bct-product-price">Unit Price</th>
                            <th class="bct-product-quantity">Quantity</th>
                            <th class="bct-product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td class="bct-product-remove"><a href="{% url 'cart:cart_remove' product.id %}"><i
                                        class="fa fa-trash" title="Remove"></i></a></td>
                            <td class="bct-product-thumbnail"><a href="{{product.get_absolute_url}}"><img width="100"
                                        alt="{{product.name}}" src="{{product.main_image.url}}" /></a>
                            </td>
                            <td class="bct-product-name"><a href="{{product.get_absolute_url}}">
                                    {{product.name}}
                                </a>
                                <input type="hidden" name="ids" value="{{product.id}}">
                            </td>
                            <td class="bct-product-price"><span class="amount">Rs. {{product.price}} </span></td>
                            <td class="quantity">

                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" name="quantities" type="text"
                                        value="{{item.quantity}}" />
                                </div>
                            </td>
                            <td class="product-subtotal"><span class="amount">Rs. {{item.total_price}}</span></td>
                        </tr>
                        {% endwith %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-7">

                </div>
                <div class="col-md-5 ml-auto text-right">
                    <div class="cart-page-total">
                        <button type="submit"
                            style="background-color: rgb(2, 2, 2);border:none;color:white;padding:5px 8px;border-radius:5px;">
                            Update Cart
                        </button>
                        <br>
                        <br>
                        <h4>Cart total - Rs. {{ cart.get_total_price|floatformat:2 }}</h4>
                        <br>
                        <button type="button"
                            style="size: 50px; background-color: rgb(8, 190, 23);border:none;padding:5px 8px;border-radius:5px;">
                            <a style="size: 35px; color: white;" href="{% url 'orders:cart_order_create' %}">Proceed to checkout
                            </a></button>
                        {% comment %}
                        <!-- <a href="{% url 'orders:checkout' %}">Proceed to checkout</a> --> {% endcomment %}
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}