<div
    class="{% if type == 'featured' %}col-md-3 col-sm-4 col-xs-6{% elif type == 'newest' %}col-lg-4 col-md-4 col-sm-6 col-xs-6{% endif %}">
    <div class="product-item ver2">
        <div class="prod-item-img bd-style-2">
            <a href="{{product.get_absolute_url}}"><img src="{{product.main_image.url}}" alt="images"
                    class="img-responsive"></a>
            <div class="button">
                <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                    <input type="hidden" value="{{product.id}}" name="id">
                    <input type="hidden" value="1" name="quantity">
                    {% csrf_token %}
                    <button class="link-ver1 addcart-ver2 addcart" style="border: none;" type="submit">
                        <i class="ion-ios-cart fa-1a" aria-hidden="true"></i> &nbsp;Add to cart
                    </button>
                </form>
            </div>
        </div>
        <div class="prod-info">
            <h3><a href="{{product.get_absolute_url}}">{{ product.name|truncatechars:33}}</a></h3>
            <p><b>{{product.shop.name}}</b></p>
            <div class="p-price">
                {% if product.discounted_from_price > product.price %}
                <span class="price old">Rs. {{product.discounted_from_price}}</span>
                <span class="price ">Rs. {{product.price}}</span>
                {% else %}
                <span class="price black">Rs. {{product.price}}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>