{% extends 'base.html' %}
{% load static %}
{% load djsingleton %}

{% block title %}Dokanharu - All Dokan in a place {% endblock title %}


{% block meta %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dokanharu.com">
<meta property="og:title" content="Dokanharu All the dokan in a place">
<meta property="og:description"
    content="Dokanharu.com helps the every shop owner to make their shop online">
<meta property="og:image" content="https://tradenpl.com/media/banners/Presentatijm____on1_1.png">
<meta name="facebook-domain-verification" content="45q6z9r6jkorwctoflcxbd072jzstd" />
<meta name="keywords" content="Dokan, dokanharu.com, Dokanharu ">

{% endblock meta %}

{% block content %}
<section class="slide">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="row top-row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-item js-banner">

                            {% for banner in banners %}
                            <div class="slide-img">
                                <img src="{{banner.image.url}}" alt="images" class="img-reponsive">
                                <div class="slide-content ver2">
                                    <!--<h5 class="brand" style="color:white;">best brand</h5>-->
                                    <h2 style="color:white;"></h2>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <!--<div class="jumbotron">-->
                        <div>
                            <h3 style="color:rgb(49, 216, 27);">Brands</h3>
                            <br> <button type="button"
                                style="background-color: rgb(55, 194, 20);border:none;padding:5px 8px;border-radius:5px;">
                                <a style="size: 20px; color:rgb(255, 255, 255)"
                                    href="{% url 'shops:create-shop' %}">Register your Brand </a></button>
                            &nbsp;&nbsp;
                            <button
                                style="background-color: rgb(220, 228, 233);border:none;padding:5px 8px;border-radius:5px;">
                                <a href="{% url 'shops:all-shops' %}" title="Marketplace">View all Brands</a></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-banner">
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        {% for item in ad.header1_banners.all %}

        <div class="col-lg-4">
            <a href="{{item.link}}">
                <img alt="{{item.title}}" class="img-responsive" src="{{item.image.url}}" />
            </a>
        </div>
        {% endfor %}


    </div>
</div>
<br>
<br>
<div class="container">
    <div class="heading-v1">
        <h3 class="pull-left">featured products</h3>

        <div class="clearfix"></div>
    </div>
    <div class="prod-fea-list">
        <div class="row">
            {% for product in featured_products %}
            {% include 'partials/_product.html' with type='featured' %}
            {% endfor %}
        </div>

    </div>
</div>
<br>
<div class="container">
    <div class="heading-v1">
        <h3 class="pull-left">Featured Brands</h3>

        <div class="clearfix"></div>
    </div>
    <div class="row">
        {% for shop in featured_shops %}
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card">
                <div class="product-item ver1 bd-style">
                    <div class="prod-item-img">
                        <a href="{{shop.get_absolute_url}}"><img src="{{shop.image.url}}" alt="images"
                                class="img-responsive"></a>
                    </div>
                    <div class="prod-info">
                        <h3><a href="{{shop.get_absolute_url}}" class="price black">{{shop.name}}</a></h3>
                        <div class="p-price">
                            <span class="black">{{shop.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        {% for item in ad.header2_banners.all %}

        <div class="col-lg-4">
            <a href="{{item.link}}">
                <img alt="{{item.title}}" class="img-responsive" src="{{item.image.url}}" />
            </a>
        </div>
        {% endfor %}


    </div>
</div>
<div class="container">
    <div class="heading-v1">
        <h3 class="pull-left">Recent products</h3>

        <div class="clearfix"></div>
    </div>
    <div class="prod-fea-list">
        <div class="row">
            {% for product in newest_products %}
            {% include 'partials/_product.html' with type='featured' %}
            {% endfor %}
        </div>

    </div>
</div>
{% for category in categories %}
{% if category.products.all|slice:":1" %}
<div class="container">
    <div class="heading-v1">
        <h3 class="pull-left">{{category}} Products</h3>

        <div class="clearfix"></div>
    </div>
    <div class="prod-fea-list">
        <div class="row">
            {% for product in category.products.all|slice:":4" %}
            {% include 'partials/_product.html' with type='featured' %}
            {% endfor %}
        </div>

    </div>
</div>
{% endif %}
{% endfor %}



{% endblock content %}